@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Sansita+Swashed:wght@300&display=swap');

body{
  background-color: black;
  
}

#Navbar {
  #Link{
    color: whitesmoke ;
    text-decoration: none;

  }
}

#CompJumbotron{
  background: url('https://media1.popsugar-assets.com/files/thumbor/s8JbLAyJfjCEoYP-UlvIFw9mgIg/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2020/03/30/640/n/1922507/addurlnGUWt4/i/Tangled-Zoom-Background.jpg');
  filter: opacity(0.5);
  background-size: cover;
  height: 100vh;
  text-align: center;
 
  h1{
    color: white;
    letter-spacing: 5px;
    font-family: 'Sansita Swashed', cursive;

  }
  p{
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
  }

  Button{
    letter-spacing: 2px;
    background: transparent;
    transition: all 2s ease-in-out;
  }

  Button:hover{
  background-color: turquoise;
 color: black;
  transition: all 1s ease;
  
  }

  div#CompBoxJumbotrons_Content{
    filter: opacity(1);
  }
}

#NavbarBrand {
  font-family: 'Chewy', cursive;
  letter-spacing: 2px;
  text-shadow: 0 3px black;

}


#CompBoxJumbotrons {
  
  width: 100%;

  #CardCompBoxIcon{   
    background-color: transparent;
    border :1px solid transparent;
  }
    #CardCompBoxIcon:hover{
        border: 1px solid rgb(185, 185, 250);
        }
  Button {
    letter-spacing: 0px;
    background-color: yellow;
    color: seashell;
    font-weight: bold;
    margin-top: 10px;
  }
  
}




// Responsive Breakpoint : 

@media (max-width: 577px)  { 
  #CardCompBoxIcon{
    display: none;
    
  }

}
