@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Sansita+Swashed:wght@300&display=swap');

body{
  background-color: black;
}

#Navbar {
  
  #Link{
    color: whitesmoke ;
    text-decoration: none;

  }
}

#CompJumbotron{

  background: url('https://ak.picdn.net/shutterstock/videos/1008906254/thumb/1.jpg' ) top center  ;
  background-size: cover;
  

  height: 100vh;
  text-align: center;
  
 
  h1{
    color: white;
    letter-spacing: 5px;
    font-family: 'Sansita Swashed', cursive;

  }
  p{
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
  }

  Button{
    letter-spacing: 2px;
    background: transparent;
    transition: all 2s ease-in-out;
  }

  Button:hover{
  background-color: turquoise;
  color: blue;
  transition: all 1s ease;
  
  }

  
}

#NavbarBrand {
  font-family: 'Chewy', cursive;
  letter-spacing: 2px;
  text-shadow: 0 3px black;

}


#CompBoxJumbotrons {
  width: 100%;
  #CardCompBoxIcon{
    width: auto;   
    height: auto;
    background-color: transparent;
    border :2px solid #74a7ff;
    transition: 1s;
  }
        #CardCompBoxIcon:hover{
          background-color: fuchsia;
        }
  Button {
    letter-spacing: 0px;
    background-color: yellow;
    color:  darkblue;
    font-weight: bold;
    margin-top: 10px;
  }
  
}


