@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Sansita+Swashed:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 , h2 , h3 {
  font-family: 'Sansita Swashed', cursive;
}
body{
  background-image: linear-gradient(to right, rgb(169, 20, 9), rgb(10, 106, 182));

}

#Navbar {
  background-image: linear-gradient(to right, rgb(169, 20, 9), rgb(10, 106, 182));
  color: initial;

  #Link{
    color: whitesmoke ;
    text-decoration: none;

  }
}

#CompJumbotron{
  background: url('https://i.pinimg.com/originals/d4/50/46/d45046e41834c800c2392f2c2a4425e6.jpg') no-repeat;
  height: 100vh;
  text-align: center;
  background-attachment: fixed;
  box-sizing: border-box;
 
  h1{
    color: white;
    background-color: #23AFFB;
    padding: 6px;
    opacity: 0.7;
    letter-spacing: 5px;
    font-family: 'Sansita Swashed', cursive;
    text-shadow: 4px 0 red ;
    border-radius: 100px 0 100px 0;
    box-shadow: 5px 5px 5px orange;
  }
  p{
    font-size: 20px;
    color: white;
    // margin-bottom: 30px;
  }

  Button{
    letter-spacing: 2px;
    background: transparent;
    transition: all 2s ease-in-out;
  }

  Button:hover{
  background-color: turquoise;
 color: black;
  transition: all 1s ease;
  
  }

  div#CompBoxJumbotrons_Content{
    filter: opacity(1);
  }
}

#NavbarBrand {
  font-family: 'Chewy', cursive;
  letter-spacing: 2px;
  text-shadow: 0 3px black;

}


#CompBoxJumbotrons {
  
  width: 100%;

  #CardCompBoxIcon{   
    background-color: transparent;
    border :1px solid transparent;
  }
    #CardCompBoxIcon:hover{
        border: 1px solid rgb(185, 185, 250);
        }
  Button {
    letter-spacing: 0px;
    background-color: yellow;
    color: seashell;
    font-weight: bold;
    margin-top: 10px;
  }
  
}

#CompService {
 
  background: url( 'https://i.pinimg.com/originals/c9/bc/98/c9bc987940c4fca69fc9047ebbd61e9c.gif') ;
  
  background-attachment: fixed;
  background-position: 800px;
  background-size: cover;
  a{
    text-decoration: none ;
  }
  
  .card{
    padding: 2%;
    background-image: linear-gradient(to right, rgb(169, 20, 9), rgb(10, 106, 182));
    color: white;
    opacity: 0.5;
    transition: all 1.2s ease-in-out;
    overflow: hidden;

    
    
    .card-img-top{
      width: 100%;
      height: 200px;
    }
    
    .card-body{
      height: 100px;
    }

    
  }
            .card:hover {
              opacity: 1;
              transition: all 0.1s ease-out;
            }
}

// Responsive Breakpoint : 

@media (max-width: 577px)  { 
  #CardCompBoxIcon{
    display: none;
    
  }

}

@media (min-width: 992px) {
  #CardCompBoxIcon {
    display: none;
  }

 }


 #CompLocation{
   background-color: white;
   h1{
     color: black;
   }
 }